/* Ex. 1 */
.stats-grid:first-child::before {
  content: "🔥";
  font-size: 2rem;
}

/* Ex. 2 */
.stats-grid:last-child {
  background: linear-gradient(
    90deg,
    rgba(104, 120, 226, 1) 0%,
    rgba(116, 81, 171, 1) 100%
  );
}

.stats-grid:last-child > * {
  color: white;
}

/* EX. 3 */
.stats-container > *:hover {
  transform: translate(0, -5px);
  box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

/* Ex. 4 */
.workout-section article:nth-of-type(2) {
  border-left: 5px solid orange;
  background-color: #fff8ba;
}

/* Ex. 5 */
.exercise-item:is(:first-of-type, :last-of-type) {
  border-left: 5px solid green;
  background-color: #f0fff4;
}

/* Ex. 6 */
.exercise-item:nth-of-type(even)::before {
  content: "⚡";
}

/* Ex. 7-8 */
input:focus,
select:focus {
  border: 5px solid blue;
  box-shadow: 0 2px 10px blue;
  outline: none;
  transition: 0.5s;
}

/* Ex. 9 */
.save-btn:hover {
  transform: translate(0, -2px);
  background-color: orangered;
  box-shadow: 0 2px 10px blue;
}
.save-btn {
  transition: 0.5s;
}

/* Ex. 10 */
.progress-fill::before {
  content: "65%";
  font-size: 0.5rem;
  color: white;
  position: absolute;
  right: 0;
  margin: 0 5px;
}
